<h3><b>Product</b></h3>
<% @products.each do |product| %>
	<h3>Name: <%= product.name %></h3>
	<h3>Qulaity: <%= product.quality %></h3>
<% end %>
<%= link_to 'Add new product', get_product_form_url, id: "new_product", remote: true %>